:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: sans-serif;
    color: var(--color-gray-50);
    background-color: var(--color-gray-900);
    margin: 0;
}

#root {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 16px;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-gray-700);
    cursor: pointer;
    transition: border-color 0.25s;
    outline: none;
    white-space: nowrap;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-gray-600);
    background-color: var(--color-gray-900);
    color: var(--color-gray-50);
    font-size: 16px;
    font-family: inherit;
    outline: none;
    margin-top: 5px;
}

label span {
    margin-left: 5px;
}

button:hover {
    border-color: var(--color-blue-600);
}

button:focus, input:focus {
    border-color: var(--color-blue-400);
}

button:disabled {
    opacity: 0.5;
    border-color: transparent;
    cursor: not-allowed;
}