.layout {
    display: flex;
    min-height: 100vh;
    overflow: auto;
}

.layout__main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout__content {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
}