.skins-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.skins-table th,
.skins-table td {
    padding: 10px;
    text-align: center;
}

.skins-table th {
    color: var(--color-gray-200);
    font-weight: bolder;
    font-size: 18px;
}

.skins-table__head-row, .skins-table__body-row {
    border-bottom: 1px solid var(--color-gray-700);
}

.skins-table__body-row {
    cursor: pointer;
}

.skins-table__body-row:hover {
    background-color: var(--color-gray-700);
}

.skins-table__body-row:last-child {
    border-bottom: none;
}