.table {
    border-collapse: collapse;
    background-color: var(--color-gray-800);
    border-radius: 8px;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
}

.table th {
    color: var(--color-gray-200);
    font-weight: bolder;
    font-size: 18px;
}

.table thead tr,
.table tbody tr {
    border-bottom: 1px solid var(--color-gray-700);
}

.table__row--clickable {
    cursor: pointer;
}

.table__row--clickable:hover {
    background-color: var(--color-gray-700);
}

.table tbody tr:last-child {
    border-bottom: none;
}