.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-gray-800);
    overflow: auto;
}

.logo {
    height: 40px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.header-button {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.header-button-img {
    height: 20px;
}