.auth-switch {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: var(--color-gray-300);
}

.auth-switch a {
    cursor: pointer;
    color: var(--color-blue-500);
}