.confirm-modal__text {
    text-align: center;
}

.confirm-modal__confirm-button {
    color: var(--color-red-400);
    font-weight: bolder;
}

.confirm-modal__cancel-button {
    color: var(--color-gray-300);
}