.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    margin-top: auto;
}

.footer__text {
    color: var(--color-gray-500);
    font-size: 12px;
}