.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-gray-800);
    border-bottom: 1px solid var(--color-gray-700);
}

.header__title {
    color: var(--color-gray-200);
}

.header__actions {
    display: flex;
    gap: 10px;
}

.header__action {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.header__action-icon {
    height: 20px;
    aspect-ratio: 1;
}

.header__action-label {
    color: var(--color-gray-200);
}