.languages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.language-row:hover {
    background-color: var(--color-gray-700);
}

.language-row.active {
    background-color: var(--color-blue-600);
}

.language-flag {
    height: 24px;
}

.language-title {
    font-weight: bolder;
}