.modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: var(--color-shadow);
}

.modal-card {
    background: var(--color-gray-800);
    padding: 20px;
    min-width: 300px;
    border-radius: 20px;
}