.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    margin-top: auto;
}

.pagination__info {
    color: var(--color-gray-200);
}