.skin-title {
    text-align: center;
    margin-bottom: 12px;
}

.skin-actions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skin-action {
    font-weight: bolder;
}

.edit {
    color: var(--color-blue-300);
}

.delete {
    color: var(--color-red-400);
}