.user-title {
    text-align: center;
    margin-bottom: 12px;
}

.user-actions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.user-action {
    font-weight: bolder;
}

.view {
    color: var(--color-blue-300);
}