.profile-title {
    text-align: center;
    margin-bottom: 12px;
}

.profile-actions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.profile-action {
    font-weight: bolder;
}

.change-password {
    color: var(--color-blue-300);
}

.logout {
    color: var(--color-red-400);
}