.skin-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 16px;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-700);
    gap: 10px;
}

.skin-card__header {
    display: flex;
    justify-content: flex-end;
}

.skin-card__rarity {
    padding: 2px 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 999px;
}

.skin-card__rarity--COMMON {
    background-color: var(--color-gray-400);
}

.skin-card__rarity--RARE {
    background-color: var(--color-blue-500);
}

.skin-card__rarity--LEGENDARY {
    background-color: var(--color-yellow-500);
}

.skin-card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.skin-card__name {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-gray-50);
}

.skin-card__id {
    font-size: 16px;
    color: var(--color-gray-400);
}

.skin-card__footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--color-gray-400);
}

.skin-card--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-700);
    border: 2px dashed var(--color-gray-600);
}

.skin-card__placeholder {
    font-size: 80px;
    font-weight: bold;
    color: var(--color-gray-500);
    line-height: 1;
    padding: 30px 50px;
}