.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    overflow: hidden;
}

.pagination__info {
    color: var(--color-gray-200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}