.confirm-modal__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.confirm-modal__title {
    text-align: center;
    margin: 10px 0;
}

.confirm-modal__text {
    text-align: center;
}

.confirm-modal__confirm-button {
    color: var(--color-red-400);
    font-weight: bolder;
}

.confirm-modal__cancel-button {
    color: var(--color-gray-300);
}